.inline-form {
  display: flex;
  align-items: flex-end;
  justify-items: flex-start;
  flex-wrap: wrap;

  .form-group {
    align-self: flex-start;
    margin-bottom: 0;
    margin-right: 10px;
    margin-top: 10px;
    width: 220px;
  }

  .btn {
    margin-top: 38px;
  }
}

.form-group {
  font-size: 12px;

  .control-label {
    font-weight: bold;
  }

  textarea.form-control {
    resize: vertical;
    height: auto;
  }

  .form-control {
    font-size: inherit;
    height: 35px;

    &:read-only,
    &.readonly {
      background: none;
      border: none;
      padding-left: 0;
      outline: none;
      box-shadow: none;
    }

    &::placeholder {
      color: #aaa;
    }
  }

  &.has-error {
    .form-control {
      border-color: #dd4b39;
    }
  }
  &.has-success {
    .form-control {
      border-color: #00a65a;
    }
  }
}
